<form class="form-horizontal">
    <fieldset>
        <legend>Form Name</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="symbol">symbol</label>
            <div class="col-md-4">
                <input id="symbol" name="symbol" type="text" class="form-control input-md" ng-model="stock.symbol">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">name</label>
            <div class="col-md-4">
                <input id="name" name="name" type="text" class="form-control input-md" ng-model="stock.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="favorite">favorite</label>
            <div class="col-md-4">
                <input id="favorite" name="favorite" type="text" class="form-control input-md" ng-model="stock.favorite">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="blacklist">blacklist</label>
            <div class="col-md-4">
                <input id="blacklist" name="blacklist" type="text" class="form-control input-md" ng-model="stock.blacklist">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="tags">tags</label>
            <div class="col-md-4">
                <input id="tags" name="tags" type="text" class="form-control input-md" ng-model="stock.tags">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="category">category</label>
            <div class="col-md-4">
                <input id="category" name="category" type="text" class="form-control input-md" ng-model="stock.category">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="ranking">ranking</label>
            <div class="col-md-4">
                <input id="ranking" name="ranking" type="number" class="form-control input-md" ng-model="stock.ranking">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="notes">notes</label>
            <div class="col-md-4">
                <input id="notes" name="notes" type="textarea" class="form-control input-md" ng-model="stock.notes">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">description</label>
            <div class="col-md-4">
                <input id="description" name="description" type="textarea" class="form-control input-md" ng-model="stock.description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="rava_symbol">rava_symbol</label>
            <div class="col-md-4">
                <input id="rava_symbol" name="rava_symbol" type="text" class="form-control input-md" ng-model="stock.rava_symbol">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="google_symbol">google_symbol</label>
            <div class="col-md-4">
                <input id="google_symbol" name="google_symbol" type="text" class="form-control input-md" ng-model="stock.google_symbol">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="investing_symbol">investing_symbol</label>
            <div class="col-md-4">
                <input id="investing_symbol" name="investing_symbol" type="text" class="form-control input-md" ng-model="stock.investing_symbol">
            </div>
        </div>

        <button class="btn" ng-click="update(stock)">save</button>
    </fieldset>
</form>
